<section>
    <br />
    <button class="btn btn-primary" data-target="#createCustomerModal" data-toggle="modal" type="button">
        Add Customer
    </button>
    <br />
    <br />

    @*Add customer modal*@
    <div class="modal fade" id="createCustomerModal" tabindex="-1" role="dialog" aria-labelledby="CustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CustomerModalLabel">Add New Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="CustomerForm" action="#">
                        <div class="form-group">
                            <label for="customerName">Name</label>
                            <input data-bind="value: name, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="CustomerName" placeholder="Please Enter Your Name">
                        </div>
                        <div class="form-group">
                            <label for="customerAddress">Address</label>
                            <input data-bind="value:address, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="CustomerAddress" placeholder="Please Enter Your Address">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click:createCustomer" value="Create" type="button" class="btn btn-primary" id="CustomerSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Delete Customer Modal*@
    <div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="deleteCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteCustomerModalLabel">Delete Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" data-bind="with:chosenCustomer">
                    <p>Do you want to delete this customer?</p>
                    <ul>
                        <li>
                            <strong>Name: <span data-bind="text:$data.name"></span></strong>
                        </li>
                        <li>
                            <strong>Address: <span data-bind="text:$data.address"></span></strong>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                    <button data-bind="click:deleteCustomer" class="btn btn-danger" id="deleteCustomerSubmit">Yes</button>
                </div>
            </div>
        </div>
    </div>

    @*Edit Customer Modal*@
    <div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="editCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCustomerModalLabel">Edit Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Customer Details</h4>
                    <form id="editCustomerForm" data-bind="with:chosenCustomer">
                        <div class="form-group">
                            <label for="customerName">Name</label>
                            <input data-bind="value:name, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="customerName">
                        </div>
                        <div class="form-group">
                            <label for="customerAddress">Address</label>
                            <input data-bind="value:address, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="customerAddress">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click:changeCustomer" type="button" class="btn btn-primary" id="editCustomerSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

</section>