<section>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal"
            onclick="clearTextBox();">
        Add New Product
    </button><br /><br />

    @*Add Product modal*@
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Add New Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="productForm">
                        <div class="form-group">
                            <label for="ProductName">Name</label>
                            <input data-bind="value:name, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="productName" placeholder="Please Enter Product Name">
                        </div>
                        <div class="form-group">
                            <label for="ProductPrice">Price</label>
                            <input data-bind="value:price, valueUpdate: 'afterkeydown'"type="text" class="form-control" id="productPrice" placeholder="Please Enter Product Price">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click:createProduct" type="button" class="btn btn-primary" id="productSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Edit Product Modal*@
    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" >
                <div class="modal-header">
                    <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Product Details</h4>
                    <form id="editProductForm" data-bind="with:chosenProduct">
                        <div class="form-group">
                            <label for="ProductName">Name</label>
                            <input data-bind="value:name, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="ProductName">
                        </div>
                        <div class="form-group">
                            <label for="ProductPrice">Price</label>
                            <input data-bind="value:price, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="ProductPrice">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click: changeProduct" type="button" class="btn btn-primary" id="editProductSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Delete Product Modal*@
    <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProductModalLabel">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"data-bind="with:chosenProduct">
                    Did you want to delete this Product?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                    <button data-bind="click: deleteProduct" type="button" class="btn btn-danger" id="deleteProductSubmit">Yes</button>
                </div>
            </div>
        </div>
    </div>
</section>