<section>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#storeModal">
        Add Store
    </button><br /><br />

    @*Add Store modal*@
    <div class="modal" id="storeModal" tabindex="-1" role="dialog" aria-labelledby="storeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="storeModalLabel">Add New Store</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="storeForm">
                        <div class="form-group">
                            <label for="storeName">Name</label>
                            <input data-bind="value: name, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="storeName" placeholder="Please Enter Store Name">
                        </div>
                        <div class="form-group">
                            <label for="storeAddress">Address</label>
                            <input data-bind="value: address, valueUpdate: 'afterkeydown'"type="text" class="form-control" id="storeAddress" placeholder="Please Enter Store Address">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click:createStore"type="button" class="btn btn-primary" id="storeSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Edit Store Modal*@
    <div class="modal" id="editStoreModal" tabindex="-1" role="dialog" aria-labelledby="editStoreModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editStoreModalLabel">Edit Store</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Store Details</h4>
                    <form id="editStoreForm" data-bind="with:chosenStore">
                        <div class="form-group">
                            <label for="StoreName">Name</label>
                            <input data-bind="value:name, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="StoreName">
                        </div>
                        <div class="form-group">
                            <label for="StoreAddress">Address</label>
                            <input data-bind="value:address, valueUpdate: 'afterkeydown'" type="text" class="form-control" id="StoreAddress">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click: changeStore" type="button" class="btn btn-primary" id="editStoreSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Delete Store Modal*@
    <div class="modal" id="deleteStoreModal" tabindex="-1" role="dialog" aria-labelledby="deleteStoreModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteStoreModalLabel">Delete Store</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" data-bind="with:chosenStore">
                    Do you want to delete this Store?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                    <button data-bind="click:deleteStore" type="button" class="btn btn-danger" id="deleteStoreSubmit">Yes</button>
                </div>
            </div>
        </div>
    </div>
</section>