
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stores</h2>

@Scripts.Render("~/bundles/Library")
@Html.Partial("_Modal")

<table class="table table-light table-hover" id="storestable">
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Address</th>
            <th>Action(Edit)</th>
            <th>Action(Delete)</th>
        </tr>
    </thead>
    <tbody id="BodyTag" data-bind="foreach: Stores">
        <tr>
            <td style="display:none" id="IdTag" data-bind="text: id"></td>
            <td id="NameTag" data-bind="text: name"></td>
            <td id="AddressTag" data-bind="text: address"></td>
            <td>
                <a id="EditTag" data-bind="attr: { 'href': '@Url.Action("Edit", "Store")/' + id }" class="btn btn-warning">Edit</a>
                </td>
            <td>
                <a id="DeleteTag" data-bind="attr: { 'href': '@Url.Action("Delete", "Store")/' + id }" class="btn btn-danger">Delete</a>

            </td>
        </tr>
    </tbody>
</table>

@section scripts
{
    <script>
        //Load table data
        $(function () {
            function StoreModel(id, name, address) {
                var self = this;

                //Two way binding for customer elements
                self.id = ko.observable("");
                self.name = ko.observable("");
                self.address = ko.observable("");

                var Store = {
                    id: self.id,
                    name: self.name,
                    price: self.address
                };

                self.Store = ko.observable();
                self.Stores = ko.observableArray([]);

                $.ajax({
                    url: 'api/stores',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (data) {
                        self.Stores(data);
                    }
                });

                //Create Store
                self.create = function () {

                    $.ajax({
                        url: 'api/stores',
                        cache: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: ko.toJSON(Store),
                        success: function (data) {
                            self.Stores.push(data);
                            self.id(null);
                            self.name("");
                            self.address("");

                        }
                    })
                }

                //Delete Store
                self.delete = function () {
                    $.ajax({
                        url: 'api/stores' + id,
                        cache: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: id,
                        success: function (data) {
                            self.Stores.remove(Store);
                        }
                    })
                }

                //Update Store
                self.update = function () {
                    $.ajax({
                        url: 'api/stores',
                        cache: false,
                        type: 'PUT',
                        contentType: 'application/json; charset=utf-8',
                        data: ko.toJSON(Product),
                        success: function (data) {
                            self.Stores.removeAll();
                            self.Stores(data); //Put the response in ObservableArray
                            self.Store(null);
                            alert("Record Updated Successfully");
                        }
                    })
                }

            }

            var StoreViewModel = new StoreModel();
            ko.applyBindings(StoreViewModel);
        });



    </script>}