<section>
    <button type="button" id="addproductSoldBtn" class="btn btn-primary" data-toggle="modal" data-target="#productSoldModal">
        Add Product Sold
    </button><br /><br />

    @*Add ProductSold modal*@
    <div class="modal fade" id="productSoldModal" tabindex="-1" role="dialog" aria-labelledby="productSoldModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productSoldModalLabel">Add Product Sold</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="productSoldForm">
                        <div class="form-group">
                            <label for="productSoldCustomerList">Customer Name</label>
                            <select data-bind="options:customerList, optonsCaption:'Select a customer', optionsText: 'name',optionsValue: 'id',
                                    value: customerId, valueUpdate: 'afterkeydown'" id="productSoldCustomerList" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="productSoldProductList">Product Name</label>
                            <select data-bind="options:productList, optonsCaption:'Select a product', optionsText: 'name',optionsValue: 'id',
                                    value: productId, valueUpdate: 'afterkeydown'" id="productSoldProductList" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="productSoldStoreList">Store Name</label>
                            <select data-bind="options:storeList, optonsCaption:'Select a store', optionsText: 'name',optionsValue: 'id',
                                    value: storeId, valueUpdate: 'afterkeydown'" id="productSoldStoreList" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="productDateSold">Date Sold</label>
                            <input data-bind="value: dateSold, valueUpdate: 'afterkeydown'" id="productDateSold" type="text" class="form-control" placeholder="YYYY-MM-DD">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click:createProductSold" type="button" class="btn btn-primary" id="productSoldSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Edit ProductSold Modal*@
    <div class="modal fade" id="editProductSoldModal" tabindex="-1" role="dialog" aria-labelledby="editProductSoldModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProductSoldModalLabel">Update Product Sold</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Product Sold Details</h4>
                    <form id="editProductSoldForm" data-bind="with:chosenProductSold()">
                        <div class="form-group">
                            <label for="editProductSoldCustomerList">Customer Name</label>
                            <select data-bind="options: $parent.customerList,optionsText:'name',optionsValue:'id',value:customerId, valueUpdate: 'afterkeydown'" id="editProductSoldCustomerList" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="editProductSoldProductList">Product Name</label>
                            <select data-bind="options: $parent.productList,optionsText:'name',optionsValue:'id',value:productId, valueUpdate: 'afterkeydown'" id="editProductSoldProductList" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="editProductSoldStoreList">Store Name</label>
                            <select data-bind="options: $parent.storeList,optionsText:'name',optionsValue:'id',value:storeId, valueUpdate: 'afterkeydown'" id="editProductSoldStoreList" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="editProductSoldDate">Date Sold</label>
                            <input data-bind="value: dateSold, valueUpdate: 'afterkeydown'" id="editProductSoldDate" type="text" class="form-control">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click: changeProductSold" type="button" class="btn btn-primary" id="editProductSoldSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Delete ProductSold Modal*@
    <div class="modal fade" id="deleteProductSoldModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductSoldModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteProductSoldModalLabel">Delete Product Sold</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" data-bind="chosenProductSold">
                    Do you want to delete this Product Sold?
                    <ul>
                        <li>
                            <strong>Customer Name: </strong><span data-bind="text:$data.customer.name"></span>
                        </li>
                        <li>
                            <strong>Product Name: </strong><span data-bind="text:$data.product.name"></span>
                        </li>
                        <li>
                            <strong>Store Name: </strong><span data-bind="text:$data.store.name"></span>
                        </li>
                        <li>
                            <strong>Date Sold: </strong><span data-bind="text:moment($data.dateSold).format('DD/MM/YYYY')"></span>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                    <button data-bind="click: deleteProductSold" type="button" class="btn btn-danger" id="deleteProductSoldSubmit">Yes</button>
                </div>
            </div>
        </div>
    </div>

</section>