<section>
    <button type="button" id="addproductSoldBtn" class="btn btn-primary" data-toggle="modal" data-target="#productSoldModal">
        Add Product Sold
    </button><br /><br />

    @*Add ProductSold modal*@
    <div class="modal fade" id="productSoldModal" tabindex="-1" role="dialog" aria-labelledby="productSoldModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productSoldModalLabel">Add Product Sold</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="productSoldForm">
                        <div class="form-group">
                            <label for="productSoldCustomerList">Customer Name</label>
                            <select data-bind="value:$root.customername, valueUpdate: 'afterkeydown'" id="productSoldCustomerList" class="custom-select" required></select>
                        </div>
                        <div class="form-group">
                            <label for="productSoldProductList">Product Name</label>
                            <select data-bind="value:$root.productname, valueUpdate: 'afterkeydown'" id="productSoldProductList" class="custom-select" required></select>
                        </div>
                        <div class="form-group">
                            <label for="productSoldStoreList">Store Name</label>
                            <select data-bind="value:$root.storename, valueUpdate: 'afterkeydown'"id="productSoldStoreList" class="custom-select" required></select>
                        </div>
                        <div class="form-group">
                            <label for="productDateSold">Date Sold</label>
                            <input data-bind="value:$root.datesold, valueUpdate: 'afterkeydown'" id="productDateSold" type="text" class="form-control" placeholder="DD/MM/YYYY">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click:$root.create" type="button" class="btn btn-primary" id="productSoldSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Edit ProductSold Modal*@
    <div class="modal fade" id="editProductSoldModal" tabindex="-1" role="dialog" aria-labelledby="editProductSoldModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProductSoldModalLabel">Edit Product Sold</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Product Sold Details</h4>
                    <form id="editProductSoldForm">
                        <div class="form-group">
                            <label for="editProductSoldCustomerList">Customer Name</label>
                            <select id="editProductSoldCustomerList" class="custom-select" required></select>
                        </div>
                        <div class="form-group">
                            <label for="editProductSoldProductList">Product Name</label>
                            <select id="editProductSoldProductList" class="custom-select" required></select>
                        </div>
                        <div class="form-group">
                            <label for="editProductSoldStoreList">Store Name</label>
                            <select id="editProductSoldStoreList" class="custom-select" required></select>
                        </div>
                        <div class="form-group">
                            <label for="editProductSoldDate">Date Sold</label>
                            <input id="editProductSoldDate" type="text" class="form-control">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-bind="click: $root.update" type="button" class="btn btn-primary" id="editProductSoldSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Delete ProductSold Modal*@
    <div class="modal fade" id="deleteProductSoldModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductSoldModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteProductSoldModalLabel">Delete Product Sold</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this Product Sold?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                    <button data-bind="click: $root.delete" type="button" class="btn btn-danger" id="deleteProductSoldSubmit">Yes</button>
                </div>
            </div>
        </div>
    </div>

</section>